

/*--------------------------------------------------------------
>>> TABLE OF CONTENTS:
----------------------------------------------------------------
# Global
# Typography
# Elements
# Forms
# Navigation
	## Links
	## Menus
# Accessibility
# Alignments
# Clearings
# Widgets
# Content
	## Posts and pages
	## Comments
# Infinite scroll
# Media
	## Captions
	## Galleries
--------------------------------------------------------------*/

/*--------------------------------------------------------------
# Layout
--------------------------------------------------------------*/
.row {
	margin-left: -8px;
	margin-right: -8px;
}
.container,
[class*="col-"] {
	padding-left: 8px;
	padding-right: 8px;
}
.row-small {
	margin-left: -4px;
	margin-right: -4px;
}
.col-small {
	padding-left: 4px;
	padding-right: 4px;
}
@media (max-width: 767px) {
	#wpadminbar {
		position: fixed !important;
	}	
}

/*--------------------------------------------------------------
# Global
--------------------------------------------------------------*/
body {
   	font-size: 0.9375rem;
}
* {
	outline: none !important;
}
img {
	max-width: 100%;
	height: auto;
}
iframe {
	display: block;
	max-width: 100%;
	margin: 0 auto;
}
a {
	color: #7bbf3a;
	-webkit-transition: all 0.3s ease 0s;
	-moz-transition: all 0.3s ease 0s;
	transition: all 0.3s ease 0s;
}
a:hover {
	color: #f25132;
	text-decoration: none;
}
ul, ol {
	padding-left: 20px;
}
button {
	cursor: pointer;
	-webkit-transition: all 0.3s ease 0s;
	-moz-transition: all 0.3s ease 0s;
	transition: all 0.3s ease 0s;
}
small, 
.small {
	font-size: 87.5%;
}
.font-size-body {
	font-size: 0.9375rem !important;
}
.lead {
	font-size: 1.125rem;
}
.font-weight-semibold {
	font-weight: 600 !important;
}
a.text-body:hover,
a.text-body:focus {
	color: #f25132 !important;
}
a.text-muted:hover,
a.text-muted:focus {
	color: #212529 !important;
}
.text-primary {
	color: #7bbf3a !important;
}
a.text-primary:hover,
a.text-primary:focus {
	color: #f25132 !important;
}
.text-secondary {
	color: #f25132 !important;
}
.bg-primary {
	background-color: #7bbf3a !important;
}
.bg-secondary {
	background-color: #FE8401 !important;
}
.bg-light {
	background-color: #F0F2F5 !important;
}
.border-primary {
	border-color: #7bbf3a !important;
}
.bg-cover {
	background-color: #CFD4DB;
	background-repeat: no-repeat;
	background-position: center center;
	background-size: cover;
}
.img-cover {
	object-fit: cover;
}
.border-secondary {
	border-color: #FE8401 !important;
}
.border-bottom-2 {
	border-bottom: 2px solid #dee2e6;
}
.rounded-lg {
	border-radius: 0.5rem !important;
}
.svg-4 {
	width: 1.5rem;
	height: 1.5rem;
}
.svg-5 {
	width: 1.25rem;
	height: 1.25rem;
}
.svg-6 {
	width: 1rem;
	height: 1rem;
}
.svg-primary {
	fill: #7bbf3a;
}
.svg-secondary {
	fill: #f25132;
}
.svg-muted {
	fill: #999;
}
.svg-white {
	fill: #FFF;
}
@media (max-width: 767px) {
	h1, .h1 {
		font-size: 1.625rem;
	}
	h2, .h2 {
		font-size: 1.5rem;
	}
	h3, .h3 {
		font-size: 1.375rem;
	}
	h4, .h4 {
		font-size: 1.25rem;
	}
	h5, .h5 {
		font-size: 1.125rem;
	}
	.display-4 {
		font-size: 2rem;
	}
}

/*--------------------------------------------------------------
# Form
--------------------------------------------------------------*/
.form-control::-webkit-input-placeholder { 
	color: #898989;
}
.form-control::-moz-placeholder {
	color: #898989;
}
.form-control:-ms-input-placeholder { 
	color: #898989;
}
.form-control:-moz-placeholder { 
	color: #898989;
}
.required {
	color: #F15A29;
}
.form-control,
.custom-select,
.btn {
	border-radius: 0.375rem;
	-webkit-transition: all 0.3s ease 0s;
	-moz-transition: all 0.3s ease 0s;
	transition: all 0.3s ease 0s;
}
.form-control:focus,
.custom-select:focus {
	border-color: #7bbf3a;
	box-shadow: none;
}
.btn {
	font-weight: 600;
}
.btn-sm {
	font-size: 0.75rem;
}
.btn-primary,
.btn-primary:not(:disabled):not(.disabled):active:focus {
	color: #fff;
	background-color: #7bbf3a;
	border-color: #7bbf3a;
}
.btn-primary:hover,
.btn-primary:focus,
.btn-primary:not(:disabled):not(.disabled):active {
	color: #FFF;
	background-color: #63aa1f;
	border-color: #63aa1f;
}
.btn-primary svg,
.btn-primary:not(:disabled):not(.disabled):active:focus svg {
	fill: #fff;
}
.btn-secondary,
.btn-secondary:not(:disabled):not(.disabled):active:focus {
	color: #fff;
	background-color: #FE8401;
	border-color: #FE8401;
}
.btn-secondary:hover,
.btn-secondary:focus,
.btn-secondary:not(:disabled):not(.disabled):active {
	color: #FFF;
	background-color: #EA7900;
	border-color: #EA7900;
}
.btn-secondary svg,
.btn-secondary:not(:disabled):not(.disabled):active:focus svg {
	fill: #fff;
}
.btn-outline-primary,
.btn-outline-primary:not(:disabled):not(.disabled):active:focus {
	color: #7bbf3a;
	background-color: transparent;
	border-color: #7bbf3a;
}
.btn-outline-primary:hover,
.btn-outline-primary:focus,
.btn-outline-primary:not(:disabled):not(.disabled):active {
	color: #fff;
	background-color: #7bbf3a;
	border-color: #7bbf3a;
}
.btn-light,
.btn-light:not(:disabled):not(.disabled):active:focus {
	color: #212529;
	background-color: #F0F2F5;
	border-color: #F0F2F5;
}
.btn-light:not(:disabled):not(.disabled).active {
	color: #fff;
	background-color: #7bbf3a;
	border-color: #7bbf3a;
}

/*--------------------------------------------------------------
# Table
--------------------------------------------------------------*/
.table th,
.table td {
	padding: 0.625rem;
}
.table th {
	font-size: 1rem;
	font-weight: 600;
}

/*--------------------------------------------------------------
# Tab
--------------------------------------------------------------*/
.tab-nav {
	border-bottom: 1px solid #dee2e6;
	display: flex;
	margin-bottom: 1rem;
}
.tab-nav a {
	font-size: 1rem;
	font-weight: 600;
	color: #212529;
	border-bottom: 2px solid transparent;
	display: block;
	padding: 0.5rem 1.5rem;
}
.tab-nav a:hover {
	background-color: #F0F2F5;
}
.tab-nav a.active {
	color: #7bbf3a;
	border-bottom-color: #7bbf3a;
}

/*--------------------------------------------------------------
# Breadcrumb
--------------------------------------------------------------*/
.breadcrumb {
	background: transparent;
	border: 0;
	border-radius: 0;
	padding: 0;
	margin: 0;
}
.breadcrumb-item + .breadcrumb-item::before {
	content: ' ';
	border-top: 2px solid #6c757d;
	border-right: 2px solid #6c757d;
	display: inline-block;
	vertical-align: middle;
	width: 0.5rem;
	height: 0.5rem;
	padding-right: 0;
	margin-top: -0.25rem;
	margin-right: 0.5rem;
	transform: rotate(45deg);
}
@media (max-width: 767px) {
	.single .breadcrumb-item.active {
		display: none;
	}
}

/*--------------------------------------------------------------
# Pagination
--------------------------------------------------------------*/
.pagination {
	justify-content: center;
	margin-bottom: 1.5rem;
}
.pagination .page-link {
	font-size: 1rem;
	font-weight: 600;
	color: #212529;
	background: #F0F2F5;
	border-color: #F0F2F5;
	border-radius: 0.5rem !important;
	display: flex;
	align-items: center;
	justify-content: center;
	width: 2.5rem;
	height: 2.5rem;
	text-align: center;
	padding: 0;
	margin-left: 0.25rem;
	margin-right: 0.25rem;
}
.pagination .page-link:hover,
.pagination .page-link:focus {
	color: #212529;
	background-color: #E2E6EA;
	border-color: #E2E6EA;
}
.pagination .page-item.active .page-link {
	color: #fff;
	background-color: #7bbf3a;
	border-color: #7bbf3a;
}

/*--------------------------------------------------------------
# Modal
--------------------------------------------------------------*/
.modal-dialog {
    min-height: calc(100vh - 3.75rem);
    display: flex;
    flex-direction: column;
    justify-content: center;
    overflow: auto;
    margin-top: 2.5rem;
    margin-bottom: 2.5rem;
}
.modal.fade .modal-dialog {
	-webkit-transform: translate(0, 0);
	-moz-transform: translate(0, 0);
	transform: translate(0, 0);
}
.modal-header {
	background: #F7F7F7;
}
.modal-title {
	text-transform: uppercase;
	line-height: 1.2;
}
.modal-body {
	padding: 1.5rem;
}
.modal-backdrop.show {
	opacity: 0.7;
}

/*--------------------------------------------------------------
# animation
--------------------------------------------------------------*/
.spin {
	-webkit-animation: spin 1.2s infinite linear;
	-moz-animation: spin 1.2s infinite linear;
	-ms-animation: spin 1.2s infinite linear;
	-o-animation: spin 1.2s infinite linear;
	animation: spin 1.2s infinite linear;
}
@keyframes "spin" {
	from {
		-webkit-transform: rotate(0deg);
		-moz-transform: rotate(0deg);
		-o-transform: rotate(0deg);
		-ms-transform: rotate(0deg);
		transform: rotate(0deg);
	}
	to {
		-webkit-transform: rotate(359deg);
		-moz-transform: rotate(359deg);
		-o-transform: rotate(359deg);
		-ms-transform: rotate(359deg);
		transform: rotate(359deg);
	}
}
@-moz-keyframes spin {
	from {
		-moz-transform: rotate(0deg);
		transform: rotate(0deg);
	}
	to {
		-moz-transform: rotate(359deg);
		transform: rotate(359deg);
	}
}
@-webkit-keyframes "spin" {
	from {
		-webkit-transform: rotate(0deg);
		transform: rotate(0deg);
	}
	to {
		-webkit-transform: rotate(359deg);
		transform: rotate(359deg);
	}
}
@-ms-keyframes "spin" {
	from {
		-ms-transform: rotate(0deg);
		transform: rotate(0deg);
	}
	to {
		-ms-transform: rotate(359deg);
		transform: rotate(359deg);
	}
}
@-o-keyframes "spin" {
	from {
		-o-transform: rotate(0deg);
		transform: rotate(0deg);
	}
	to {
		-o-transform: rotate(359deg);
		transform: rotate(359deg);
	}
}

/*--------------------------------------------------------------
# progress bar
--------------------------------------------------------------*/
.progress-bar-animated {
	-webkit-animation: progress-bar-stripes 0.6s linear infinite;
	animation: progress-bar-stripes 0.6s linear infinite;
}

/*--------------------------------------------------------------
# accordion
--------------------------------------------------------------*/
.accordion .toggler {
	color: #FFF;
	background-color: #7bbf3a;
}
.accordion .toggler.collapsed {
	color: #7bbf3a;
	background-color: #FFF;
}
.accordion .toggler:after {
    content: '-';
    font-size: 1.25rem;
    font-weight: 700;
    cursor: pointer;
    display: inline-block;
    line-height: 1;
   	margin-left: auto;
    transition: all 0.3s ease 0s;
}
.accordion .toggler.collapsed:after {
	content: '+';
}

.accordion-more-info .toggler {
	color: #7bbf3a;
	background-color: #f0f2f5;
}

/*--------------------------------------------------------------
# site header
--------------------------------------------------------------*/
.site {
	padding-top: 52px;
}
.admin-bar .site-header {
	top: 46px;
}
@media (min-width: 782px) {
	.admin-bar .site-header {
		top: 32px;
	}
}

/*--------------------------------------------------------------
## site nav
--------------------------------------------------------------*/
.site-nav ul {
	list-style: none;
	padding: 0;
	margin: 0;
}
.site-nav .menu {
	display: flex;
}
.site-nav .menu > li {
	position: relative;
}
.site-nav .menu > li > a {
	font-size: 1rem;
	font-weight: 600;
	text-transform: uppercase;
	color: #FFF;
	border-top: 2px solid transparent;
	border-bottom: 2px solid transparent;
	display: block;
	padding: 0.75rem 1.25rem;
}
.site-nav .menu > li:hover > a,
.site-nav .menu > li.current-menu-item > a,
.site-nav .menu > li.current-category-ancestor > a,
.site-nav .menu > li.current-post-ancestor > a {
    color: #FFF;
	background: #63aa1f;
}
.site-nav .sub-menu {
	white-space: nowrap;
	background-color: #FFF;
	box-shadow: 0 0.125rem 0.25rem rgba(0, 0, 0, 0.075);
	display: none;
	padding: 0.5rem 0;
	position: absolute;
	z-index: 12;
	top: 100%;
	left: 0;
	min-width: 15rem;
}
.site-nav li:hover > .sub-menu {
	display: block;
}
.site-nav .sub-menu > li {
	position: relative;
}
.site-nav .sub-menu > li > a {
	color: inherit;
	display: block;
	padding: 0.5rem 1rem;
}
.site-nav .sub-menu > li:hover > a {
	color: #7bbf3a;
}
.site-nav .sub-menu > li > .sub-menu {
	top: 0;
	left: 100%;
}
@media (max-width: 1199px) {
	.site-nav .menu > li > a {
		padding-left: 0.75rem;
		padding-right: 0.75rem;
	}
}
@media (max-width: 991px) {
	.site-nav {
		background-color: #fff;
		overflow-y: auto;
		width: 17.5rem;
		position: fixed;
		left: -17.5rem;
		top: 0; 
        bottom: 0;
		transition: all 0.3s ease 0s;
        z-index: 1002;
	}
	body.open-site-nav .site-nav {
		left: 0;
	}
	.site-overlay {
		background: rgba(0, 0, 0, 0.5);
		width: 100%;
		height: 100%;
		position: fixed;
		z-index: 1001;
		top: 0;
		left: 0;
	}
	.site-nav .menu {
		display: block;
	}
	.site-nav .menu > li {
		border-bottom: 1px solid #dee2e6;
		padding: 0.75rem 2.5rem 0.75rem 0.75rem;
		margin-left: 0;
	}
	.site-nav .menu > li + li {
		margin-left: 0;
	}
	.site-nav .menu > li > a {
		color: #212529;
		display: inline;
		padding: 0;
	}
	.site-nav .menu > li:hover > a,
	.site-nav .menu > li.current-menu-item > a,
	.site-nav .menu > li.current-category-ancestor > a,
	.site-nav .menu > li.current-post-ancestor > a {
		color: #f25132;
		background-color: transparent;
	}
	.site-nav .menu > li.menu-item-has-children:before {
	    content: ' ';
	    border-top: 2px solid #212121;
	    border-left: 2px solid #212121;
	    cursor: pointer;
	    float: right;
	    width: 0.5rem;
	    height: 0.5rem;
	    position: absolute;
	    top: 1.25rem;
	    right: 1rem;
	    transform: rotateZ(-135deg);
	    transition: all 0.3s ease 0s;
	}
	.site-nav .menu > li.menu-item-has-children:hover:before {
		border-top-color: #7bbf3a;
		border-left-color: #7bbf3a;
	}
	.site-nav .menu > li.menu-item-has-children.active:before {
		transform: rotateZ(45deg);
	}
	.site-nav .menu > li > .sub-menu {
		background-color: transparent;
		border: 0;
		box-shadow: none;
		clear: both;
		display: none;
		padding: 0;
		position: relative;
		top: 0;
		left: 0;
        margin: .5rem 0;
	}
	.site-nav .menu > li:hover > .sub-menu {
		display: none;
	}
}

/*--------------------------------------------------------------
# Archive post
--------------------------------------------------------------*/
.archive-post:hover,
.aside-cat:hover {
	border-color: #7bbf3a !important;
}
.ads-banner {
	margin-left: -8px;
}
.adsbygoogle,
.adsbygoogle ins,
.adsbygoogle iframe {
	width: 100% !important;
}
.adsbygoogle {
	margin-left: 0 !important;
}

/*--------------------------------------------------------------
# Cloud tags
--------------------------------------------------------------*/
.cloud-tags {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
}
.cloud-tags a {
	color: inherit;
	background-color: #e4e4e4;
	border-radius: 50rem;
	display: block;
	padding: 0.5rem 1rem;
	margin: 0 1rem 1.5rem;
}
.cloud-tags a:hover,
.cloud-tags a:focus {
	color: inherit;
	background-color: #c4c4c4;
}

/*--------------------------------------------------------------
# entry
--------------------------------------------------------------*/
.entry-content {
	text-align: justify;
}
.entry-content h1, .entry-content h2, .entry-content h3, .entry-content h4, .entry-content h5, .entry-content h6,
.term-description h1, .term-description h2, .term-description h3, .term-description h4, .term-description h5, .term-description h6 {
	font-size: 1.375rem;
    text-align: center;
    margin-bottom: 1rem;
}
.entry-content table {
	background-color: transparent;
    border-collapse: collapse;
    border-spacing: 0;
    margin-bottom: 1rem;
    width: 100%;
    max-width: 100%;
}
.entry-content table th,
.entry-content table td {
    border-top: 1px solid #dee2e6;
    padding: 0.75rem;
}
.entry-content table th {
    font-weight: 600;
    text-transform: uppercase
}
.entry-content table thead th {
	border-bottom: 2px solid #dee2e6;
	padding: 0.75rem;
}
.entry-content img.centered,
.entry-content .aligncenter,
.term-description img.centered,
.term-description .aligncenter {
	display: table;
    margin: 0 auto 1em
}
.entry-content .wp-caption,
.term-description .wp-caption {
    max-width: 100%
}
.entry-content .wp-caption-text,
.term-description .wp-caption-text {
    font-weight: 400;
    text-align: center;
    background: #eeeeee;
    padding: 0.5rem 0.5rem
}
.entry-content blockquote {
	box-shadow: inset 0 0 0 0 #e2e4e7;
	border-left: 0.25rem solid #000;
	padding-left: 1rem;
}
.entry-content .wp-block-image {
	text-align: center;
	margin-left: auto;
	margin-right: auto;
}
.entry-content .su-spoiler {
	display: none;
}
.list-shares a {
	color: #FFF;
	border-radius: 0.25rem;
	display: flex;
	align-items: center;
	padding: 0.25rem 0.5rem;
}
.list-shares a:hover {
	opacity: 0.8;
}
.list-shares a.facebook {
	background-color: #455FA1;
}
.list-shares a.twitter {
	background-color: #58ABF4;
}
.list-shares a.pinterest {
	background-color: #CC1D1E;
}
.list-shares a.linkedin {
	background-color: #007BB5;
}
.list-shares a.email {
	background-color: #1980BE;
}
.schema-faq-section {
	border: 1px solid #dee2e6;
	padding: 1rem;
	margin-top: -1px;
}
.schema-faq-question {
	font-weight: 400;
	cursor: pointer;
}
.schema-faq-answer {
	display: none;
	padding-top: 1rem;
	padding-left: 1rem;
}

@media (min-width: 1200px) {
	.col-archive-post {
		-ms-flex: 0 0 20%;
		flex: 0 0 20%;
		max-width: 20%;
	}
	.related-posts .col-archive-post {
		-ms-flex: 0 0 25%;
		flex: 0 0 25%;
		max-width: 25%;
	}
}

/*--------------------------------------------------------------
# site footer
--------------------------------------------------------------*/
.site-footer .menu {
	margin-left: 2.25rem;
}
.site-footer .menu li {
	margin-right: 1.5rem;
}
.site-footer .menu li a {
	color: inherit;
}
.site-footer .menu li a:hover {
	color: #DDDDDD;
}
.site-footer .socials a svg {
	transition: fill 0.3s ease 0s;
}
.site-footer .socials a:hover svg {
	fill: #DDDDDD;
}